1. run `npm run build` after changing code, make sure build is successful.
2. run `npm run test` after changing code, make sure all the test is passing. You can delete test case when it is not needed.